<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script>
// Simple JavaScript Templating
// John Resig - http://ejohn.org/ - MIT Licensed
(function(){
  var cache = {};
 
  this.tmpl = function tmpl(str, data){
    // Figure out if we're getting a template, or if we need to
    // load the template - and be sure to cache the result.
    var fn = !/\W/.test(str) ?
      cache[str] = cache[str] ||
        tmpl(document.getElementById(str).innerHTML) :
     
      // Generate a reusable function that will serve as a template
      // generator (and which will be cached).
      new Function("obj",
        "var p=[],print=function(){p.push.apply(p,arguments);};" +
       
        // Introduce the data as local variables using with(){}
        "with(obj){p.push('" +
       
        // Convert the template into pure JavaScript
        str
          .replace(/[\r\t\n]/g, " ")
          .split("<%").join("\t")
          .replace(/((^|%>)[^\t]*)'/g, "$1\r")
          .replace(/\t=(.*?)%>/g, "',$1,'")
          .split("\t").join("');")
          .split("%>").join("p.push('")
          .split("\r").join("\\'")
      + "');}return p.join('');");
   
    // Provide some basic currying to the user
    return data ? fn( data ) : fn;
  };
})();

$.urlParam = function(name){
    var results = new RegExp('[\\?&amp;]' + name + '=([^&amp;#]*)').exec(window.location.href);
    return results[1] || 0;
}

var db = {
    data: [
        {
            "id": "1",
            "title": "Заљубени",
            "image": "img/img1.png"
        },
        {
            "id": "2",
            "title": "Test 2",
            "image": "img/img2.png"
        },
        {
            "id": "3",
            "title": "Test 3",
            "image": "img/img3.png"
        }
    ],
    get: function(ID) {
        var target = this.data.filter(function(el) { return el.id == ID });
        if (target.length > 0) {
            return target[0];
        } else {
            return false;
        }
    }
}

$(function() {
    var entry = db.get($.urlParam('id'));

    var templateData = {};
    templateData.entry = entry;

    var baseUrl = 'index.html'; 
    var nextId = db.get(parseInt(entry.id) + 1)['id'];
    if (nextId) {
        templateData.nextUrl = baseUrl + '?id=' + nextId;
    }
    var prevId = db.get(parseInt(entry.id) - 1)['id'];
    console.log(prevId);
    if (prevId) {
        templateData.prevUrl = baseUrl + '?id=' + prevId;
    }
    
    var html_from_template = tmpl('template', {data: templateData});
    $('#main').html(html_from_template);
})
</script>

<script type="text/html" id="template">
    <h1 id="title"><%= data.entry['title'] %></h1>
    <% if (data.prevUrl) { %>
        <a href="<%= data.prevUrl %>">Претходен</a>
    <% } %>
    <% if (data.nextUrl) { %>
        <a href="<%= data.nextUrl %>">Следен</a>
    <% } %>
    <div id="image"><img src="<%= data.entry['image'] %>" /></div>
</script>
</head>
<body>
    <div id="main"></div>
</body>
</html>