<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

<style>
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2 {
    color: #333
}

a, a:visited {
    color: #333;
    text-decoration: none;
}

#main {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
}

#next, #prev {
    font-size: 20px;
}

#next {
    float: left;
}

#prev {
    float: right;
}

#controls {
    width: 100%;
    padding-top: 20px;
}
</style>

<script>
// Simple JavaScript Templating
// John Resig - http://ejohn.org/ - MIT Licensed
(function(){
  var cache = {};
 
  this.tmpl = function tmpl(str, data){
    // Figure out if we're getting a template, or if we need to
    // load the template - and be sure to cache the result.
    var fn = !/\W/.test(str) ?
      cache[str] = cache[str] ||
        tmpl(document.getElementById(str).innerHTML) :
     
      // Generate a reusable function that will serve as a template
      // generator (and which will be cached).
      new Function("obj",
        "var p=[],print=function(){p.push.apply(p,arguments);};" +
       
        // Introduce the data as local variables using with(){}
        "with(obj){p.push('" +
       
        // Convert the template into pure JavaScript
        str
          .replace(/[\r\t\n]/g, " ")
          .split("<%").join("\t")
          .replace(/((^|%>)[^\t]*)'/g, "$1\r")
          .replace(/\t=(.*?)%>/g, "',$1,'")
          .split("\t").join("');")
          .split("%>").join("p.push('")
          .split("\r").join("\\'")
      + "');}return p.join('');");
   
    // Provide some basic currying to the user
    return data ? fn( data ) : fn;
  };
})();

function isNumber(n) {
  return !isNaN(parseFloat(n)) && isFinite(n);
}

function abort() {
    $('body').append("<h1>СРАЊЕ УРЛ!!!</h1>");
    throw 'говна во срање урл-то што го внесуваш ебате. Курац.';
}

var db = {
    data: [
        {
            "id": 30,
            "title": "Исус (Даре DM remake)",
            "image": "img/30-sto-lica.jpg"
        },
        {
            "id": 29,
            "title": "Исус (Даре DM remake)",
            "image": "img/29-ilijada.jpg"
        },
        {
            "id": 28,
            "title": "Исус (Даре DM remake)",
            "image": "img/28-spirit-of-the-cow.jpg"
        },
        {
            "id": 27,
            "title": "Rebranding Eastern",
            "image": "img/27-rebranding-eastern.png"
        },
        {
            "id": 26,
            "title": "Пуцаљќе",
            "image": "img/26-pucaljke.jpg"
        },
        {
            "id": 25,
            "title": "Three Frame Videos - In the club",
            "image": "img/25-in-the-club.jpg"
        },
        {
            "id": 24,
            "title": "Three Frame Videos - Everytime",
            "image": "img/24-everytime.jpg"
        },
        {
            "id": 23,
            "title": "Time travel",
            "image": "img/23-time-travel.jpg"
        },
        {
            "id": 22,
            "title": "Први април",
            "image": "img/22-first-of-april.jpg"
        },
        {
            "id": 21,
            "title": "Point",
            "image": "img/21-point.jpg"
        },
        {
            "id": 20,
            "title": "Исус (Даре DM remake)",
            "image": "img/20-isus-dare-remake.jpg"
        },
        {
            "id": 19,
            "title": "Линк",
            "image": "img/19-link.jpg"
        },
        {
            "id": 18,
            "title": "Полови органи",
            "image": "img/18-polovi-organi.jpg"
        },
        {
            "id": 17,
            "title": "Не го тапацирај",
            "image": "img/17-ne-go-tapaciraj.jpg"
        },
        {
            "id": 16,
            "title": "Drivin' (extended)",
            "image": "img/16-vozi-ext.jpg"
        },
        {
            "id": 15,
            "title": "Drivin'",
            "image": "img/15-vozi.jpg"
        },
        {
            "id": 14,
            "title": "Mirror Love",
            "image": "img/14-mirror-love.jpg"
        },
        {
            "id": 13,
            "title": "Исус",
            "image": "img/13-isus.jpg"
        },
        {
            "id": 12,
            "title": "MSN (С)трип",
            "image": "img/12-msn-strip.jpg"
        },
        {
            "id": 11,
            "title": "Art, Goldie's (per)version",
            "image": "img/11-art-goldie-version.jpg"
        },
        {
            "id": 10,
            "title": "Art",
            "image": "img/10-art.jpg"
        },
        {
            "id": 9,
            "title": "Свети Петар",
            "image": "img/9-glowing-peter.jpg"
        },
        {
            "id": 8,
            "title": "Замара",
            "image": "img/8-zamara.jpg"
        },
        {
            "id": 7,
            "title": "Artist's escape",
            "image": "img/7-artists-escape.jpg"
        },
        {
            "id": 6,
            "title": "Џабе",
            "image": "img/6-dzabe-se-palev.jpg"
        },
        {
            "id": 5,
            "title": "Geniouses suicide",
            "image": "img/5-geniouses-suicide.jpg"
        },
        {
            "id": 4,
            "title": "Мачење",
            "image": "img/4-torture.jpg"
        },
        {
            "id": 3,
            "title": "Знак",
            "image": "img/3-znak.jpg"
        },
        {
            "id": 2,
            "title": "Love",
            "image": "img/2-love.jpg"
        },
        {
            "id": 1,
            "title": "Шљу",
            "image": "img/1-shlju.jpg"
        }
    ],
    get: function(ID) {
        var target = this.data.filter(function(el) { return el.id == parseInt(ID) });
        return (target.length > 0) ? target[0] : false;
    }
}

$(function() {

    var id = location.search.substr(1);

    // Remove trailing '/' after redirect, if it happened.
    if(id.charAt(id.length - 1) == "/") {
        id = id.slice(0, -1);
    }
    
    // If it's not a number, abort.
    if (isNumber(id)) {
        var id = parseInt(id);
    } else {
        abort();
    }

    var entry = db.get(id);

    if (!entry) abort();

    var templateData = {};
    templateData.entry = entry;

    var baseUrl = '?';

    var nextId = id + 1;
    if (db.get(nextId)) {
        templateData.nextUrl = baseUrl + nextId;
    }
    var prevId = id - 1;
    if (db.get(prevId)) {
        templateData.prevUrl = baseUrl + prevId;
        $('head').append('<link rel="prerender" href="' + templateData.prevUrl + '">')
    }

    $(document).keydown(function(event) {
        switch (event.keyCode) {
            case 37: if (db.get(nextId)) window.location = templateData.nextUrl; break;
            case 39: if (db.get(prevId)) window.location = templateData.prevUrl; break;
        }
    });

    $('head').append('<title>(С)трип: ' + entry.title + '</title>');
    
    var html_from_template = tmpl('template', {data: templateData});
    $('#main').html(html_from_template);
})
</script>

<script type="text/html" id="template">
    <h1>(С)трип</h1>
    <h2 id="title"><%= data.entry['title'] %></h2>
    <div id="image"><img src="<%= data.entry['image'] %>" title="Тоа на XKCD."/></div>
    <div id="controls">
        <% if (data.nextUrl) { %>
            <a id="next" href="<%= data.nextUrl %>" title="Може и со стрелките на тастатурата.">&lt;&lt; Помалку идеја</a>
        <% } %>
        <% if (data.prevUrl) { %>
            <a id="prev" href="<%= data.prevUrl %>" title="Може и со стрелките на тастатурата.">Полошо нацртани &gt;&gt;</a>
        <% } %>
    </div>
</script>
</head>
<body>
    <div id="main"></div>
</body>
</html>