body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2 {
    color: #333
}

a, a:visited {
    color: #333;
    text-decoration: none;
}

#main {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
}

#next, #prev {
    font-size: 20px;
}

#next {
    float: left;
}

#prev {
    float: right;
}

#controls {
    width: 100%;
    padding-top: 20px;
}